body{
	background-image:url('../images/back1.jpg');
	background-position:center;
	background-attachment: fixed;
	height: 10000px;
}

div{
	border: 5px solid gray;
}

.row{
	border: 5px solid blue;
}

#header{
	border: 5px solid black;
	width: 100%;
}

#social{
	float: right;
}

.col-xs-3{
	border: 5px solid green;
	margin-right: 30px;
}


#bb:hover{
	width: 110px;
	height: 110px;
}

@media (max-width: 320px) {

	body{
		background-color: blue;
	}
}

@media (min-width: 321px) and (max-width: 1024px) {

	body{
		background-color: green;
	}
}